<header class="header">
	<div class="header__logo"><img src="./img/logo.png" alt=""></div>
	<div class="header__nav">
		<nav class="navigation">
			<ul class="navigation__side">
				<li class="navigation__item nav-title"><a href="">SPHERO</a></li>
				<li class="navigation__item nav-title"><a href="">OLLIE</a></li>
				<li class="navigation__item nav-title"><a href="">EDUCATION</a></li>
				<li class="navigation__item nav-title"><a href="">BB-8</a></li>
			</ul>
			<ul class="navigation__side">
				<li class="navigation__item nav-title"><a href="">SETTINGS</a></li>
				<li class="navigation__item nav-title"><a href="">STUDENT LOGIN</a></li>
				<li class="navigation__item nav-title"><a href="">LOGOUT</a></li>
				<li class="navigation__item nav-title"><a href="" class="icon_nav">{{mixins.icon('heart')}}</a></li>
				<li class="navigation__item nav-title"><a href="" class="icon_nav">{{mixins.icon('share')}}</a></li>
			</ul>
		</nav>
		<button class="navigation__btn">{{mixins.icon('menu-button')}}</button>
		<div class="navigation__small">
			<div class="menu">
				<ul class="menu-list">
					<li class="menu__item menu-title"><a href="">SPHERO</a></li>
					<li class="menu__item menu-title"><a href="">OLLIE</a></li>
					<li class="menu__item menu-title"><a href="">EDUCATION</a></li>
					<li class="menu__item menu-title"><a href="">BB-8</a></li>
					<li class="menu__item menu-title"><a href="">SETTINGS</a></li>
					<li class="menu__item menu-title"><a href="">STUDENT LOGIN</a></li>
					<li class="menu__item menu-title"><a href="">LOGOUT</a></li>
				</ul>
				<button class="navigation__close">{{mixins.icon('close')}}</button>
			</div>
		</div>
	</div>
	<div class="header__user">
		<div class="user">
			<div class="user__greeting">Hello, bwllcw!</div>
			<div class="user__photo"><img class="user__img" src="./img/user.jpg" alt=""></div>
		</div>
	</div>
</header>