<main class="main">
	<ul class="tabulation">
		<li><button data-nav="1" class="tabulation__btn nav-title nav-title_tab">My SPRK</button></li>
		<li><button data-nav="2" class="tabulation__btn nav-title nav-title_tab is-active">ACTIVITIES</button></li>
		<li><button data-nav="3" class="tabulation__btn nav-title nav-title_tab">GALLERY</button></li>
		<li><button data-nav="4" class="tabulation__btn nav-title nav-title_tab">My Group</button></li>
	</ul>
	{% include "partials/_tab1.html" %}
	{% include "partials/_tab2.html" %}
	{% include "partials/_tab3.html" %}
	{% include "partials/_tab4.html" %}
</main>