<section class="tab tab1" data-tab="1">
	<div class="tab__wrapper">
		<div class="tab__nav">
			<ul class="tab-nav">
				<li class="tab-nav__item"><button class="tab-nav__btn">All</button></li>
				<li class="tab-nav__item"><button class="tab-nav__btn">Favorite</button></li>
				<li class="tab-nav__item"><button class="tab-nav__btn">My Activities</button></li>
				<li class="tab-nav__item"><button class="tab-nav__btn">Create</button></li>
			</ul>
		</div>
		<div class="tab__block">
			<div class="tab__search">
				<form class="search" action="">
					<input class="search__input" type="search" placeholder="Search">
					<button class="search__btn">GO</button>
				</form>
			</div>
			<div class="tab__content">
				<div class="articles">
					<a href="#" class="article">
						<div class="article__img" style="background-image: url(../img/article1.jpg);"></div>
						<div class="article__title h2"><h2>How Do Ramps Work</h2></div>
						<div class="article__text text">
							<div class="article__author text_author">By Sphero</div>
							<p>Make Ollie fly, what is happening when objects fly off of ramps. Learn approachable mechanics...</p>
						</div>
						<div class="article__grades text">Grades 4 to 12</div>
					</a>
					<a href="#" class="article">
						<div class="article__img" style="background-image: url(../img/article2.jpg);"></div>
						<div class="article__title h2"><h2>Chariot Obstacle Course</h2></div>
						<div class="article__text text">
							<div class="article__author text_author">By Sphero</div>
							<p>Build a chariot and make a Sphero obstacle course. Use geometry to plan the fastest...</p>
						</div>
						<div class="article__grades text">Grades 5 to 12</div>
					</a>
					<a href="#" class="article">
						<div class="article__img" style="background-image: url(../img/article3.jpg);"></div>
						<div class="article__title h2"><h2>Run circles around yourself</h2></div>
						<div class="article__text text">
							<div class="article__author text_author">By RoboticsTeach</div>
							<p>Use OrbBasic to program Sphero to run circles around you. Learn effective basic programming...</p>
						</div>
						<div class="article__grades text">Grades 5 to 12</div>
					</a>
					<a href="#" class="article">
						<div class="article__img" style="background-image: url(../img/article4.jpg);"></div>
						<div class="article__title h2"><h2>Speed Demon: Time and Distance</h2></div>
						<div class="article__text text">
							<div class="article__author text_author">By LearnFun</div>
							<p>Use Ollie to calculate speed. Match your Ollie skills with your friends. Learn to calculate...</p>
						</div>
						<div class="article__grades text">Grades 3 to 6</div>
					</a>
				</div>
			</div>
		</div>
	</div>	
</section>