.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-menu-button {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-share {
  width: 1em;
  height: 1em;
  fill: initial;
}
